.ScoreCardHeader {
  display: flex;
  flex-flow: row nowrap;

  width: 95%;

  .ResetButton {
    background-color: transparent;
    background-image: url("../../icons/ic_power_settings_new_24px.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 2.5rem;
    width: 2.5rem;
  }

  .die-container {
    margin: 0.2rem 0 0 0.8rem !important;
  }
}
