.Row {
    height: 5rem;
    width: 95%;
}

.Row-red {
    background-color: red;
}

.Row-yellow {
    background-color: yellow;
}

.Row-green {
    background-color: green;
}

.Row-blue {
    background-color: blue;
}