.ScoreCard {
  align-items: center;
  background-color: lightgrey;
  display: flex;
  flex-flow: column nowrap;

  height: 40rem;

  justify-content: space-between;

  padding: 1rem 0;
  width: 60rem;

  .PointsAndPenalties {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 95%;
  }

  .Penalties {
    margin-left: 1rem;
  }
}
