.App {
  height: 100vh;
  overflow: hidden;
  text-align: center;
  width: 100vw;
}

.app-page {
  margin: 2rem 4rem;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.text-center {
  text-align: center;
}

// Large screens
@media (min-height: 40rem) {
  .App {
    height: 40rem;
  }
}

@media (min-width: 60rem) {
  .App {
    width: 60rem;
  }
}

@media (max-width: 40rem) {
  .App {
    font-size: 12px;
  }
}
